<%= form_for(@playlist) do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   <fieldset>
  <p><strong>Enter Playlist Details</strong></p>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <input id="playlist_user_id" type="hidden" name="playlist[user_id]" value="<%= session[:user_id] %>"/>
  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>

<% end %>
